<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
</head>
<body>
<nav class="col-12" th:fragment="headerFragment">
	
	<header>
	<!-- 로고 -->
	<span id="logoc" th:onclick="@{|location.href='/home'|}">
	<!--<img id="logo" th:src="@{/image/logo.png}" width="260" height="121">-->
	<span class="lfs">신발장</span>
	</span>
	<!-- 로고 -->
	
	<span class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" id="ulc">
		<span class="hdmenu">
			<span class="nav-link px-2 link-secondary fs1" id="fs" th:onclick="@{|location.href='/home'|}">MAIN </span>
			<span class="nav-link px-2 link-secondary" id="fs" th:onclick="@{|location.href='/list'|}">ALL-ITEM</span>
			<span class="nav-link px-2 link-secondary" id="fs" th:onclick="@{|location.href='/myPagehome'|}">MYPAGE</span>
			<span class="nav-link px-2 link-secondary" id="fs" th:onclick="@{|location.href='/notice'|}">NOTICE</span>
		</span>	
		<span class="hdmenu2">
			<span class="nav-link px-2 link-secondary" id="fs" th:onclick="@{|location.href='/basket'|}">
				<img id="basket" th:src="@{/image/basket.png}" width="36" height="36">
			</span>	
			<span><a class="nav-link px-2 link-secondary" id="login" sec:authorize="isAnonymous()" th:href="@{/login}" th:text="로그인"></a></span>	
	    	<span><a class="nav-link px-2 link-secondary" id="login" sec:authorize="isAuthenticated()" th:href="@{/logout}" th:text="로그아웃"></a></span>
		</span>
	</span>
	</header>
	
</nav>
</body>
</html>