@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

header {
	position:relative;
	border:solid 1px;
	border-color:white;
	width: 100%;
	height:50%;
}

#logo {
	border-color:red;
	display:block;
    margin:10px auto 10px auto;
}

#logoc {
	border-color:green;
	height:110px;
	display:block;
	margin:auto;
	cursor: pointer;
	font-size: 80px;
	text-align: center;
	font-family: 'Hi Melody', cursive;
	color: #c0c0c0;
	text-shadow:3px 3px #FFE6E6,5px 5px #c0c0c0;
	background-color: white;
}

#ulc {
	text-align:center;
	border-bottom:solid 1px;
	display:inline-block;
	border-color: #c0c0c0;
	width:100%;
	background-color: white;
}

#fs {
	margin-top:15px;
	display:inline-block;
	font-size: 22px;
	cursor: pointer;
	font-family: 'Hi Melody', cursive;
}

#fs:hover {
	font-weight: bold;
}

.fs1 {
}

.fs2 {
	margin-left:200px;
}

#pointer {
	cursor: pointer;
}

#login {
	display:inline-block;
	border-color:#ff80c0;
	font-size:22px;
	font-family: 'Hi Melody', cursive;
}

#login:hover {
	font-weight: bold;
}

.lm{
	margin-left:5px;
	margin-right: 20px;
}

.lm2{
	margin-right: 20px;
}

.loginf{
	height:700px;
}

.loginf2{
	width:100%;
	display:inline-block;
	margin-top:100px;
	border: solid 1px;
	padding: 0px 36%;
}

.loginf3{
	margin-left:32%;
	margin-top:13%;
	padding:20px 60px 0 60px;
	width:400px;
	height:200px;
	display:inline-block;
	border: solid 1px;
	border-color:#ff80c0;
	border-radius: 5px;
	background-color: white;
}

.joinf0{
	margin-left:32%;
	margin-top:10%;
	padding:20px 60px 0 60px;
	width:400px;
	height:400px;
	display:inline-block;
	border: solid 1px;
	border-color:#ff80c0;
	border-radius: 5px;
	background-color: white;
}

.joinf1{
	margin-top:20px;
	margin-bottom:5px;
}

.joinf2{
	margin-right: 26px;
}

.joinf3{
	margin-left: 5px;
}

.joinf4{
	margin-left: 20%;
	margin-top: 20px;
}

.loginf4{
	margin-left:40px;
	margin-top : 15px;
}

.ainame{
	margin-left: 30px;
}

.aigender{
	margin-left: 47px;
}

.aiprice{
	margin-left: 21px;
}

.aif0{
	display:inline-block;
	margin-top: 60px;
}

.border{
	border: solid 1px;
}

.aipp{
	display:inline-block;
	width:120%;
}

.aiimage{
	width: 240px;
	cursor: pointer;
}

.hdmenu{
	margin-left: 370px;
	margin-right: 200px;
}
