<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

</head>
<script th:inline="javascript">
	var bflag = [[${bflag}]]
	if(bflag==1) {
		alert('물품을 선택 해주세요.');
	} else if(bflag==2) {
		alert('물품 구매 완료.');
	}
	
	
    //체크박스 전체 선택 클릭 이벤트
    function allChecked(target){

        //전체 체크박스 버튼
        const checkbox = document.getElementById('allCheckBox');

        //전체 체크박스 버튼 체크 여부
        const is_checked = checkbox.checked;

        //전체 체크박스 제외한 모든 체크박스
        if(is_checked){
            //체크박스 전체 체크
            chkAllChecked();
        }

        else{
            //체크박스 전체 해제
            chkAllUnChecked();
        }
        
        var arr4 = new Array(); // 인덱스

        for(var i=0;i<document.querySelectorAll(".chk").length;i++){
            		if(document.querySelectorAll(".chk")[i].checked==true){
            			arr4.push(i);
            		}
            	}
            	document.getElementById("bindex").value =arr4;
            	
        
        var psum = 0;
    	const arr = new Array();
    	document.querySelectorAll('input[name="chk"]:checked').forEach(function(v, i) {
            arr[i] = v.value;
        });
    	if(arr.length>0){
    		for(var i=0;i<arr.length;i++){
    			psum = psum + parseInt(arr[i]);
    		} 
    	} else {
    			psum = 0;
    	} 
    	const cn1 = psum.toString()
  	 	 .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
  		document.getElementById("psum").innerHTML =cn1;
    }
    
    var is_checked2;
    var checkbox2 ;
    var chk2;
    var is_chk2;
    //자식 체크박스 클릭 이벤트
    function chkClicked(){
    	var psum = 0;
    	
    	const arr = new Array(); // 가격
    	const arr2 = new Array(); // 제품명
    	const arr3 = new Array(); // 사이즈
    	var arr4 = new Array(); // 인덱스
    	//document.querySelectorAll(".chk").forEach(function(v, i) {
        //    if(v.checked==true){
		//		alert(i)
        //    }
       	// });
    	for(var i=0;i<document.querySelectorAll(".chk").length;i++){
    		if(document.querySelectorAll(".chk")[i].checked==true){
    			arr4.push(i);
    		}
    	}
    	document.getElementById("bindex").value =arr4;
    	
    	document.querySelectorAll('input[name="chk"]:checked').forEach(function(v, i) {
            arr[i] = v.value;
        });
    	
    	document.querySelectorAll('input[name="accept1"]:checked').forEach(function(v, i) {
            arr2[i] = v.value;
        });
    	
    	document.querySelectorAll('input[name="accept2"]:checked').forEach(function(v, i) {
            arr3[i] = v.value;
        });
    	
    	if(arr.length>0){
    		for(var i=0;i<arr.length;i++){
    			psum = psum + parseInt(arr[i]);
    		} 
    	} else {
    			psum = 0;
    	} 
    	const cn1 = psum.toString()
    	  .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    	document.getElementById("psum").innerHTML =cn1;
    	
        //체크된 체크박스 전체개수
        const allCount = document.querySelectorAll(".chk").length;
        const query = 'input[name="chk"]:checked'
        const selectedElements = document.querySelectorAll(query)
        const selectedElementsCnt = selectedElements.length;

        //체크박스 전체개수와 체크된 체크박스 전체개수가 같으면 전체 체크박스 체크
        if(allCount == selectedElementsCnt){
             document.getElementById('allCheckBox').checked = true;
        }

        //같지않으면 전체 체크박스 해제
        else{
            document.getElementById('allCheckBox').checked = false;
        }
        
        // 여기
    }

    //체크박스 전체 체크
    function chkAllChecked(){
        document.querySelectorAll(".chk").forEach(function(v, i) {
            v.checked = true;
        });
        
    }

    //체크박스 전체 체크 해제
    function chkAllUnChecked(){
        document.querySelectorAll(".chk").forEach(function(v, i) {
            v.checked = false;
        });
    }
    
    function chkAllChecked2(){
    	document.querySelectorAll(".accept1").forEach(function(v, i) {
            v.checked = true;
        });
    	document.querySelectorAll(".accept2").forEach(function(v, i) {
            v.checked = true;
        });
    	document.getElementById('accept1').checked = true;
    	document.getElementById('accept2').checked = true;
    }
    
    function chkAllUnChecked2(){
    	document.getElementById('accept1').checked = false;
    	document.getElementById('accept2').checked = false;
    }
	
</script>
<body id="bc">
<div id="wrap">
	<!-- 헤더 시작 -->
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
   	<!-- 헤더 끝 -->
   	<div id="wrapc">
  	<!-- 컨텐츠 시작 -->
  	<!-- 장바구니 헤드 시작 -->
  	<span id="b1">
 			<span class="bt bt1">
  			번호
  			</span>
  			<span class="bt bt2">
  			선택
  			</span>
  			<span class="bt bt3">
  			상품명
  			</span>
  			<span class="bt bt8">
  			사이즈
  			</span>
  			<span class="bt bt4">
  			가격
  			</span>
  			<span class="bt bt5">
  			수량
  			</span>
  			<span class="bt bt6">
  			합계
  			</span>
  	</span>
  	<!-- 장바구니 헤드 끝 -->
  	<span class="sb0">
	  	<span class="sb2">
	  	전체선택
	  	</span>
	  	<span class="sb3">
			<input type="checkbox" class="ckb" id="allCheckBox" onclick="allChecked()">
	  	</span>
  	</span>
<span th:if="${baskets.size>0}" id="bbc">
	<!-- 장바구니 리스트 시작 -->
	<th:block th:each="bk, i : ${baskets}">
		
			<span class="bt1 btt">
  				<th:block th:text="${i.count}">
  			</span>
  			<span class="tb00 bt2 btt">
  				<input class="ckb chk" type="checkbox" name="chk" id="chk" onclick="chkClicked()" th:value="${bk.bpprice}">
  			</span>
  			<span class="tb00 bt3 btt">
  			[이미지]
  			<th:block th:text="${bk.bpname}"></th:block>
  			</span>
  			<span class="tb00 bt8 btt">
  			<th:block th:text="${bk.bpsize}"></th:block>
  			</span>
  			<span class="tb00 bt4 btt">
  			<th:block th:text="${#numbers.formatInteger(bk.bpprice, 0, 'COMMA')}+원"></th:block>
  			</span>
  			<span class="tb00 bt5 btt">
  			<th:block th:text="${bk.bcount}"></th:block>
  			</span>
  			<span class="tb00 bt6 btt">
  			<th:block th:text="${#numbers.formatInteger(bk.bpprice*bk.bcount, 0, 'COMMA')}+원"></th:block>
  			</span>
  			<span th:onclick="@{|location.href='/basketDel/${bk.bnum}'|}" class="bt7 btt">
  			삭제
  			</span>
  		<br><hr>
  	</th:block>
  	</span>
  	
  	<div th:unless="${baskets.size>0}">
  	<span class="bt00">
  			등록된 상품이 없습니다.
  	</span>
  	</div>
  	<!-- 장바구니 리스트 끝 -->
  	<form action="buy">
  		<span class="sb">
	  	<span>선택된 금액 =</span>
	  	<span id="psum">0</span>
	  	</span>
	  	<span class="sb000">
	  	원
	  	</span>
	  	<span class="sb004">
	  	<input type="hidden" name="bindex" id="bindex">
	  	<input type="image" th:src="@{/image/buy.png}" width="90" height="70">
	  	</span>
  	</form>
  	<!-- 컨텐츠 끝 -->
   	</div>
   	<!-- 푸터 시작 -->
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
	<!-- 푸터 끝 -->
	</div>
</body>
</html>
