<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>신발장</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<script src="https://kit.fontawesome.com/9b1603c8f4.js" crossorigin="anonymous"></script>
</head>
<body id="bc">
<div id="wrap">

	<!-- 헤더 시작 -->
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
   	<!-- 헤더 끝 -->
   	<div id="wrapc">
  	<!-- 컨텐츠 시작 -->
  	<form th:action="@{/updateOk}" method="post" th:object="${memberForm2}">
			<div>
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
				</div>
			</div>	
			<div class="infoup">
				<span class="infoup2 siu">회원정보 수정</span>
			</div>
			<div class="joinf0">
				<div>
					<label class="form-label">사용자ID</label>
					<input type="text" name="username" class="joinf1 joinf3" th:field="*{username}" readonly>
				</div>
				<div class="main">
					<label class="form-label">비밀번호</label>
					<input type="password" name="password" class="joinf1 joinf3" th:field="*{password}">
					<i class="fa-regular fa-eye-slash pointer"></i>
				</div>	
				<div>
					<label class="form-label joinf2">이 름</label>
					<input type="text" name="name" class="joinf1 joinf3" th:field="*{name}">
				</div>
				<div>
					<label class="form-label joinf2">주 소</label>
					<input type="text" name="address" class="joinf1 joinf3" th:field="*{address}">
				</div>
				<div>
					<label class="form-label">전화번호</label>
					<input type="text" name="tel" class="joinf1 joinf3" th:field="*{tel}">
				</div>
				<div class="joinf4">
					<input type="submit" value="수정완료" class="ntwbtn2 lm siu">
					<span><a class="ntwbtn2 siu" th:href="@{/myPagehome}" th:text="취소"></a></span>
				</div>
			</div>
		</form>	
  	<!-- 컨텐츠 끝 -->
   	</div>
   	<!-- 푸터 시작 -->
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
	<!-- 푸터 끝 -->
	</div>
	
	<script type="text/javascript">
	
		document.querySelector(".main i").addEventListener("click", hi);
	
	function hi(){
		document.querySelector(".main input").classList.toggle('active');
		if(document.querySelector(".main input").classList.contains('active')){
			document.querySelector(".main i").classList = "fa-regular fa-eye-slash pointer";
			document.querySelector(".main input").type="text";
		} else {
			document.querySelector(".main i").classList = "fa-solid fa-eye pointer";
			document.querySelector(".main input").type="password";
		}
	}
</script>
</body>
</html>