<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>신발장</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<script src="https://kit.fontawesome.com/9b1603c8f4.js" crossorigin="anonymous"></script>
</head>
<body id="bc">
<div id="wrap">
<script th:inline="javascript">
var uflag = [[${uflag}]]
	if(uflag==1) {
		alert('업데이트 성공');
	} else if(bflag==0) {
		alert('업데이트 실패');
	}
</script>	
	<!-- 헤더 시작 -->
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
   	<!-- 헤더 끝 -->
   	<div id="wrapc">
  	<!-- 컨텐츠 시작 -->
			<div class="infoup">
				<span class="infoup2 siu">정보수정 완료</span>
			</div>
			<div class="joinf0">
				<div>
					<label class="form-label">사용자ID</label>
					<input type="text" name="username" class="joinf1 joinf3" th:value="${username}" readonly>
				</div>
				<div class="main">
					<label class="form-label">비밀번호</label>
					<input type="password" name="password" class="joinf1 joinf3" th:value="${upw}" readonly>
					<i class="fa-regular fa-eye-slash pointer"></i>
				</div>	
				<div>
					<label class="form-label joinf2">이 름</label>
					<input type="text" name="name" class="joinf1 joinf3" th:value="${uname}" readonly>
				</div>
				<div>
					<label class="form-label joinf2">주 소</label>
					<input type="text" name="address" class="joinf1 joinf3" th:value="${uadd}" readonly>
				</div>
				<div>
					<label class="form-label">전화번호</label>
					<input type="text" name="tel" class="joinf1 joinf3" th:value="${utel}" readonly>
				</div>
				<span class="ocenter">
					<span class="joinf4">
						<span><a class="ntwbtn2 siu" th:href="@{/myPagehome}" th:text="확인"></a></span>
					</span>
				</span>
			</div>
  	<!-- 컨텐츠 끝 -->
   	</div>
   	<!-- 푸터 시작 -->
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
	<!-- 푸터 끝 -->
	<script type="text/javascript">
	
		document.querySelector(".main i").addEventListener("click", hi);
	
	function hi(){
		document.querySelector(".main input").classList.toggle('active');
		if(document.querySelector(".main input").classList.contains('active')){
			document.querySelector(".main i").classList = "fa-regular fa-eye-slash pointer";
			document.querySelector(".main input").type="text";
		} else {
			document.querySelector(".main i").classList = "fa-solid fa-eye pointer";
			document.querySelector(".main input").type="password";
		}
	}
</script>
	</div>
</body>
</html>