<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body id="bc">
<div id="wrap">
	<!-- 헤더 시작 -->
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
   	<!-- 헤더 끝 -->
   	
   	<!-- 컨텐츠 시작 -->
   	<div id="wrapc">
   		<div id="d0">
   			<th:block th:if="${pList2.size!=0}">
		   		<span th:each="pd : ${pList}" >
			   		<span id="d1" th:onclick="@{|location.href='/pView/${pd.pname}'|}">
			   			<span id="pimage2">
			   			<img th:src="@{${pd.pimagepath}}" width="230" height="200">	
			   			</span><!--
		   			 -->
		   			 <span th:if="${pd.pgender=='woman'}">
		   			 	<span id="pgender2" th:text="여성용"></span>  
			   			
		   			 </span>
		   			 <span th:unless="${pd.pgender=='woman'}">
		   			 	<span id="pgender2" th:text="남성용"></span>
		   			 </span><!--
			   			--><span id="pname2" th:text="${pd.pname}">
			   			이름
			   			</span>
			   			<span>
				   			<span id="pprice2" th:text="${#numbers.formatInteger(pd.pprice, 0, 'COMMA')}">
				   			20,000
				   			</span>
				   			<span id="pprice1">
				   			원
				   			</span>
			   			</span>
			   		</span>
		   		</span>
	   		</th:block>
	   		<th:block th:unless="${pList2.size!=0}">
	   			<span class="review00">등록된 상품이 없습니다.</span>
	   			<th:block th:if="${loginId=='admin'}">
		 				<span class="additem link-secondary" th:text="물품추가" th:onclick="@{|location.href='addItem'|}">
		 					물품추가
		 				</span>
	 				</th:block>
	   		</th:block>
   		</div>
   		<!-- 페이징 시작 -->
 		<div id="pagesu">
 			<div th:if="${!pList.isEmpty()}">
 				<span class="pagination justify-content-center">
 					<span class="page-item" th:classappend="${page==0} ? 'invisible'">
	 					<a class="page-link" th:href="@{|?page=${0}|}"><span>처음으로</span></a>
	 				</span>
	 				<span class="page-item" th:classappend="${!pList.hasPrevious} ? 'disabled'">
	 					<a class="page-link" th:href="@{|?page=${pList.number-1}|}"><span>이전</span></a>
	 				</span>
		   			<span class="page-item" th:each="page:${#numbers.sequence(0, pList.totalPages-1)}" 
					th:if="${page >= pList.number-2 and page <= pList.number+2 }"
					th:classappend="${page==pList.number} ? 'active'">
		   				<a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
		   			</span>
		   			<span class="page-item" th:classappend="${!pList.hasNext} ? 'disabled'">
	 					<a class="page-link" th:href="@{|?page=${pList.number+1}|}"><span>다음</span></a>
	 				</span>
	 				<span class="page-item" th:classappend="${page==pList.totalPages-1} ? 'invisible'">
	 					<a class="page-link" th:href="@{|?page=${pList.totalPages-1}|}"><span>끝으로</span></a>
	 				</span>
	 				<th:block th:if="${loginId=='admin'}">
		 				<span class="additem link-secondary" th:text="물품추가" th:onclick="@{|location.href='addItem'|}">
		 					물품추가
		 				</span>
	 				</th:block>
	 			</span>	
	   		</div>
	   	</div>
	   	<!-- 페이징 끝 -->
   	</div>
   	<!-- 컨텐츠 끝 -->
   	<!-- 푸터 시작 -->
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
	<!-- 푸터 끝 -->
	</div>
</body>
</html>