<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>신발장</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body id="bc">
<div id="wrap">
	<!-- 헤더 시작 -->
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
   	<!-- 헤더 끝 -->
   	<div id="wrapc">
  	<!-- 컨텐츠 시작 -->
  	<div class="container">
  	<form th:action="@{/login}" method="post" class="loginf">
			<div th:if="${param.error}">
				<div class="alert alert-danger">
					로그인 실패! 아이디와 비밀번호를 확인해 주세요.
				</div>
			</div>	
			<div class="loginf3">
					<div>
						<label class="form-label siu">사용자ID</label>
						<input type="text" name="username" class="my-2 joinf3 pwf1">
					</div>
					<div>
						<label class="form-label siu ">비밀번호</label>
						<input type="password" name="password" class="my-2 joinf3 pwf0">
					</div>	
					<div class="loginf4">		
						<input type="submit" value="로그인" class="ntwbtn2 lm siu">
						<span><a class="ntwbtn2 siu" th:href="@{/memberJoin}" th:text="회원가입"></a></span>
					</div>
			</div>	
		</form>	
  	</div>
  	<!-- 컨텐츠 끝 -->
   	</div>
   	<!-- 푸터 시작 -->
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
	<!-- 푸터 끝 -->
	</div>
</body>
</html>