<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/content.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body id="bc">
<div id="wrap">
	<!-- 헤더 시작 -->
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
   	<!-- 헤더 끝 -->
   	<div id="wrapc">
  	<!-- 컨텐츠 시작 -->
  	<form th:action="@{/memberJoinOk}" method="post" th:object="${memberForm}">
			<div>
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err:${#fields.allErrors()}" th:text="${err}"></div>
				</div>
			</div>	
			<div class="joinf0">	
				<div>
					<label class="form-label">사용자ID</label>
					<input type="text" name="username" class="joinf1 joinf3" th:field="*{username}">
				</div>
				<div>
					<label class="form-label">비밀번호</label>
					<input type="password" name="password" class="joinf1 joinf3" th:field="*{password}">
				</div>
				<div>
					<label class="form-label joinf2">이 름</label>
					<input type="text" name="name" class="joinf1 joinf3" th:field="*{name}">
				</div>
				<div>
					<label class="form-label joinf2">주 소</label>
					<input type="text" name="address" class="joinf1 joinf3" th:field="*{address}">
				</div>
				<div>
					<label class="form-label">전화번호</label>
					<input type="text" name="tel" class="joinf1 joinf3" th:field="*{tel}">
				</div>
				<div class="joinf4">
					<input type="submit" value="회원가입" class="btn btn-primary my-2 lm">
					<span><a class="btn btn-primary my-2" th:href="@{/login}" th:text="취소"></a></span>
				</div>
			</div>
		</form>	
  	<!-- 컨텐츠 끝 -->
   	</div>
   	<!-- 푸터 시작 -->
	<th:block th:replace="fragment/footer :: footerFragment"></th:block>
	<!-- 푸터 끝 -->
	</div>
</body>
</html>